

.thumbnail_book{
    background-color:#85b5b7;
    float:left;
    height: 120px;
}

.header_menu{
    max-width: 1140px;
    margin: auto;
    width: 1140px;
}

#search{
    margin:auto;
}

#search_input{
    margin:0 10px 0 10px;
    width: 350px;
}

#welcome_text{
    width: 250px;
    animation: pulse 8s ;
    text-align:right;
}

@keyframes pulse {
    0% {
        color: white;
    }
    10% {
        color: black;
    }
    20% {
        color: white;
    }
    30% {
        color: black;
    }
    40% {
        color: white;
    }
    50% {
        color: black;
    }
    60% {
        color: white;
    }
    70% {
        color: black;
    }
    80% {
        color: white;
    }
    90% {
        color: black;
    }
    100% {
        color: black;
    }
}

#welcome_text:after {
    content: "Adquiere tus favoritos";
    animation: spin 8s linear;
}

@keyframes spin {
    30% {content:"Acción"; }
    50% {content:"Terror"; }
    70% {content:"Drama"; }
    90% {content:"Clásicos";}
}


.card{
    margin-bottom: 15px !important;
    margin-left: 10px !important;
    min-width: 260px;
    max-width: 260px;
}

.image_book{
    width: 250px;
    height: 300px;
    border: solid 1px #ced4da;
    background: #f7f7f7;
    float: left;
    margin-right: 20px;
}

.book_preview{
    min-height: 340px;
}

.book_preview h2{
    padding: 10px;
    text-align: center;
}